* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
}

ul,
ol,
menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

// UTILITY CLASSES

.flex-center {
    display: flex;
    align-items: center;
}